<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-12">
    <% if @user.memos.any? %>
      <ol class="memos">
        <%= render @memos %>
      </ol>
    <% end %>
  </div>
</div>
